NEXT_PUBLIC_AUTH_URL="http://localhost:8001/"
NEXT_PUBLIC_API_URL="http://localhost:8002/"

NEXTAUTH_SECRET=kXp2s5v8y/B?E(H+MbQeThWmZq4t7w9z$C&F)J@NcRfUjXn2r5u8x/A%D*G-KaPd
NEXTAUTH_URL=http://localhost:3000
